# Build files
/export

# haxefmod integration
fmod/CachedHaxeConstantsOutputLocation

# FMOD
fmod/.cache/

# error files
dump/

# misc
.VSCodeCounter/
.DS_Store

# ldtk backups. no need to push these to remote
/backups
